
    <div id="form">
        <div id="frame">
            <div id="frame-details"> <p>  </p></div>
            <div id="frame-buttons">
                <button id="frame-button-minimize" class="frame-button">-</button>
                <button id="frame-button-maximize" class="frame-button">o</button>
                <button id="frame-button-close" class="frame-button">x</button>

            </div>
        </div>
        <menu>
            <ul>
               
            </ul>
        </menu>
        <div id="content">
           
            <div id="toolbar"></div>

            <div id="page">
                
                
    
            </div>
            <div id="status-bottom"></div>
        </div>
    </div>
    
