
    <div id="form">
        <div id="frame">
            <div id="frame-details"> <p>  </p></div>
            <div id="frame-buttons">
                <button id="frame-button-minimize" class="frame-button">-</button>
                <button id="frame-button-maximize" class="frame-button">o</button>
                <button id="frame-button-close" class="frame-button">x</button>

            </div>
        </div>
        <menu>
            <ul>
               
            </ul>
        </menu>
        <div id="content">
           
            <div id="toolbar"></div>

            <div id="page">
                
                <div id="left-box" class="box"></div>
                <div id="middle-box" class="box">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolores fuga explicabo alias porro quo voluptates beatae, dolor sint qui numquam iure dolorem deserunt inventore libero, earum incidunt ea quae.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore asperiores veniam tempora impedit? Ut, cumque? Consequatur temporibus rem minima delectus voluptates accusantium ducimus, deserunt, nulla praesentium, veritatis minus. Totam, ipsam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem cupiditate porro autem illum voluptatum est ipsam, minima corrupti animi repudiandae ab alias incidunt culpa quas minus nulla numquam, error veritatis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis totam illo modi maiores saepe! Fugiat, consequuntur? At aut tempore recusandae? Neque eum tenetur alias id maxime ipsum, vero explicabo excepturi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam ipsa fugiat provident, laborum aspernatur exercitationem expedita iste rem accusamus natus eaque. Similique distinctio quos et aliquid, totam excepturi rem.</p>
                </div>
                <div id="right-box" class="box"></div>
    
            </div>
            <div id="status-bottom"></div>
        </div>
    </div>
    
